<p> {{quote.description}} <br> <br>
   <span> Author:{{quote.author}}</span>           </p>
<p>Posted {{quote.datePosted |date }} days ago</p>
 <div class="container-fluid" id="buttons">
   <!-- <button (click)="upvote(i)" class="btn btn-secondary ">
      <i class="up"></i>{{quote.upvotes}} Upvote
  </button>&nbsp;&nbsp;&nbsp; -->
    <button (click)="upvote()" class="btn btn-sm btn-success" >upvote: {{quote.likes}} </button> 
    <button (click)="downvote()" class="btn btn-sm hate" id="hate">downvote: {{quote.dislikes}} </button> 
    <!-- <button (click)='deleteQuote(true)' class="btn btn-sm btn-danger" id="del" >delete</button>   -->
   </div> 













