/* You can add global styles to this file, and also import other style files */
/* @import "~bootstrap/dist/css/bootstrap.css" */
body{
    background-image: url("./app/quote/logo.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Beau Rivage', cursive;
    font-family: 'Kalam', cursive;
    font-family: 'Sansita Swashed', cursive;
  }