 <form  #submitQuote='ngForm' (ngSubmit)="quoteSubmit(submitQuote)">
 <div class="container-fluid"> 
     <h2 class="heading">Add Quote</h2> 
     <hr> 
         <div class="form-group"> 
           <label for="name">Your Name</label> 
           <input type="text" required class="form-control" id="name" name="name" [(ngModel)]="newQuote.name" #name="ngModel">
           
             
         <div class="form-group"> 
          <label for="description">Quote</label> 
          <input type="text"required class="form-control" id="name" name="description" [(ngModel)]="newQuote.description" #name="ngModel">
        </div> 

        <div class="form-group">
          <label for="name">Quote Author</label>
          <input type="text"required class="form-control"  id="name" name="author" [(ngModel)]="newQuote.author" #name="ngModel">
            </div>
           </div> 
        
         <button type="submit" class="btn btn-sm btn-success" >Add Quote</button>  
</div>
</form>



